name: Deploy Webapp

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, deploy]
    steps:
      - name: Deploy webapp
        run: |
          cd /home/isaac/here_webapp
          ./scripts/deploy.sh
